[Desktop Entry]
Name=Document Studio
Comment=Offline PDF workspace
Exec=document-studio %U
Icon=com.documentstudio.document_studio
Terminal=false
Type=Application
Categories=Office;Graphics;
MimeType=application/pdf;
InitialPreference=9
StartupWMClass=com.documentstudio.document_studio
Keywords=PDF;Document;Offline;
